@font-face{font-family:'Roboto';src:url("../fonts/Roboto/Roboto-Regular.ttf")}@font-face{font-family:'Roboto Slab';src:url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf")}@font-face{font-family:'FontAwesome';src:url("../fa-4.7.0/fonts/fontawesome-webfont.ttf")}html,body{height:100%;margin:0}body{font-family:Roboto !important}.container{width:1270px !important;padding:0px}.trib-row{display:flex;flex-wrap:wrap;margin:0px}.trib-clearfix::after{content:"";clear:both;display:table}
