@import 'global';

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.box-content-home{
		margin-top: 160px;
		margin-bottom: 15px;
	}

	.box-content{
		margin-top: 110px;
		margin-bottom: 15px;
	}

	// Form Login/Register
	.logo-form{
		margin: 0px 0px 15px;
		border-bottom: 1px solid #eee;

		img{
			padding: 15px;
			margin: auto;
			display: block;
			width: 70%;
		}
	}

	.title-form{
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 10px;
		color: #000;
	}

	.subtitle-form{
		margin-bottom: 10px;
	}

	.box-form{
		font-size: 14px;
		text-align: center;

		a{
			text-decoration: none;
		}
	}

	.form-input{
		font-size: 16px;
		border: 1px solid #eee;
		-webkit-appearance: none;
		outline: none;
		width: 100%;
		border-radius: 5px;
		padding: 10px;
		margin: 10px 0px;

		&:focus{
			border: 1px solid $trib-red;
		}
	}

	select.form-input{
		font-size: 16px;
		width: 100%;
		border-radius: 5px;
		padding: 10px;
		border: 1px solid #eee;
		-webkit-appearance: none;
		outline: none;
		margin: 10px 0px;

		background:
		    linear-gradient(45deg, transparent 50%, #bebed0 50%),
		    linear-gradient(135deg, #bebed0 50%, transparent 50%);
	  	background-position:
		    calc(100% - 21px) calc(1em + 2px),
		    calc(100% - 16px) calc(1em + 2px),
		    100% 0;
	  	background-size:
		    5px 5px,
		    5px 5px,
		    2.5em 2.5em;
	  	background-repeat: no-repeat;

		-webkit-appearance: none;
	  	-moz-appearance: none;
	  	appearance: none;

		option{
			font-family: "Arial";
		}
	}

	.btn-frm-input{
		width: 100%;
		font-size: 16px;
		border-radius: 5px;
		padding: 10px;
		border: none;
		margin-top: 15px;
		background-color: $trib-secondary;
		color: #fff;

		&:hover{
			background-color: $trib-primary;
			color: #fff;
		}
	}

	.subtitle-bottom-form{
		margin: 10px 0px;

		a{
			color: $trib-red;
		}

		a:hover{
			color: $trib-primary;
			text-decoration: none;
		}
	}

	.btn-lupa-password{
		margin: 5px 0px 10px;
		text-align: left;

		a{
			color: $trib-red;
		}

		a:hover{
			color: $trib-primary;
			text-decoration: none;
		}
	}

	// Header
	header{
		position: fixed;
		z-index: 99;
		top: 0;
		width: 100%;
	}

	.nav-top{
		background-color: $trib-primary;
		padding: 10px 0px;
		font-size: 14px;
		color: #fff;
	}

	.left-nav-top{
		width: 50%;
		padding: 5px 0px 5px;
	}

	.right-nav-top{
		width: 50%;
		text-align: right;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 5px 0px;
		}

		li{
			display: inline-block;
		}

		a{
			padding: 5px 10px;
			background-color: $trib-secondary;
			border: 1px solid $trib-secondary;
			border-radius: 35px;
			margin: 0px 1px;
			color: #fff;
			text-decoration: none;
		}

		a:hover, &:focus{
			text-decoration: none;
			color: #fff;
		}
	}
	
	// Profil
	.profile{
		width: 50%;
		text-align: right;

		img{
			width: 30px;
			height: 30px;
			border-radius: 50px;
			object-fit: cover;
			margin-right: 5px;
		}

		a{
			color: #fff;
		}

		a:hover, a:focus{
			text-decoration: none;
			color: #fff;
		}
	}

	.buka{
		display: block;
	}
	
	.menu-profile{
		display: none;
	}

	.menu-profile{
		position: absolute;
		z-index: 5;
		right: 10px;
		width: 150px;
		background-color: #f0f0f0;
		text-align: left;
		top: 46px;
		border-radius: 5px;
		-webkit-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.75);
		box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.75);
		list-style-type: none;
		padding: 2px 0px;
		margin: 0px;

		a{
			display: block;
			padding: 4px 15px;
			color: #000;
		}

		a:hover{
			text-decoration: none;
			color: #000;
			background-color: #dedcdc;
		}
	}

	// Header Icon Menu
	.warp-header{
		padding: 15px 0px;
		border-bottom: 1px solid #eaeaea;
		background-color: #fff;
	}

	// Logo Head
	.logo-head{	
		width: 60%;
		img{
			width: 100%;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	// Search Head
	.search-icon{
		width: 20%;
		text-align: right;
		padding: 4px 0px;
	}

	.search-head{
		top: 125px;
		width: 100%;
		height: 100%;
		padding: 25px 20px 10px;
		display: none;
		position: fixed;
		z-index: 10;
		background-color: #fff;
		transition: 0.1s;
	}

	.box-search{
		position: relative;
	}

	.search-input{
		border: 1px solid #eee;
		-webkit-appearance: none;
		outline: none;
		border-radius: 50px;
		font-size: 16px;
		padding: 5px 37px 5px 10px;
		margin-right: 5px;
		width: 100%;
		height: 34px;
		font-weight: revert;
	}

	.search-icon-form{
		font-family: FontAwesome;
		position: absolute;
		z-index: 2;
		right: 0px;
		top: 0px;
		padding: 5px 11px;
		border: none;
		cursor: pointer;
		color: $trib-red;
		background-color: #eee;
		border-radius: 50px;
		height: 34px;

		&:hover{
			color: $trib-red;
			background-color: #eee;
		}
	}

	// Nav Side
	.nav-icon {
		width: 20%;
		display: inline-block;
		cursor: pointer;
		padding: 4px 0px;
	}

	.ico-drop-nav{
		padding-left: 5%;
	}

	.bar1, .bar2, .bar3 {
		width: 20px;
		height: 3px;
		background-color:#333;
		margin: 4px 0;
		transition: 0.4s;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-6px, 6px);
		transform: rotate(-45deg) translate(-6px, 6px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		width: 20px !important;
		-webkit-transform: rotate(45deg) translate(-4px, -4px);
		transform: rotate(45deg) translate(-4px, -4px);
	}

	nav{
		font-size: 18px;
		background-color: #fff;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 10;
		left: 0;
		overflow-x: hidden;
		transition: 0.1s;
		top: 125px;
		padding: 15px 0px 100px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		a{
			display: block;
			padding: 5px 0px 5px 25px;
			color: #777;
		}

		a:hover{
			text-decoration:  none;
			color: $trib-secondary;
		}
	}

	// NAV SLIDE
	.nav-slide{
		position: fixed;
		z-index: 9;
		background-color: #fff;
		width: 100%;

		-webkit-box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
		box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			padding: 10px 15px;
			display: inline-block;
		}

		a{
			font-size: 14px;
			font-weight: bold;
			color: #000;
			display: block;
		}

		a:hover{
			color: $trib-secondary;
			text-decoration: none;
		}

		a.active{
			color: $trib-secondary;
			position: relative;
	  		border-bottom: 2px solid $trib-secondary;
		}
	}

	.scroll {
		white-space: nowrap;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.scroll::-webkit-scrollbar {
		display: none; 
	}

	.scroll-menu {
		white-space: nowrap;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		max-width: 400px;
		
	}

	.scroll-menu::-webkit-scrollbar {
		display: none; 
	}

	// Breaking News
	@keyframes tickerv {
		0% {margin-top: 0;}
		25% {margin-top: -40px;}
		50% {margin-top: -80px;}
		75% {margin-top: -120px;}
		100% {margin-top: 0;}
	}

	.breaking-news{
		font-size: 12px;
		background-color: #fff;
		padding: 10px 0px;
		width: 100%;
		margin: 0px 0px 20px;

		-webkit-box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
		box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
	}

	.title-breaking-news{
		color: #000;
		font-weight: bold;
		float: left;
		width: 35%;
	}

	.text-breaking-news{
		float: right;
		text-align: left;
		margin: 0px;
		width: 65%;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: inline-block;
		}

		li:after{
			content: "  -  ";
		}

		li:last-child::after{
			content: "";
		}

		a{
			color: $trib-primary;
			font-weight: bold;
		}

		a:hover{
			text-decoration: none;
			color: $trib-red;
		}
	}
	
	// Banner Head
	.banner-head{
		margin-top: 20px;

		img{
			width: 100%;
		}
	}

	// Banner Big
	.banner-big{
		margin: 20px 0px;

		img{
			width: 100%;
		}
	}

	// Headline
	.headline{
		margin: 20px 0px 20px;
	}

	.box-headline{
		position: relative;
	}

	.img-headline{
		width: 100%;
		height: 250px !important;
		object-fit: cover;
		border-radius: 10px;
	}

	.desc-headline{
		width: 100%;
		position: absolute;
		z-index: 2;
		padding: 10px;
		background-color: #000;
		opacity: 0.8;
		color: #fff;
		bottom: 0;
		border-radius: 0px 0px 10px 10px;
	}

	.date-headline{
		font-size: 12px;
		margin-bottom: 10px;
	}

	.title-headline{
		font-size: 16px;
		font-weight: bold;

		a{
			color: #fff;
		}

		a:hover{
			text-decoration: none;
			color: $trib-red;
		}
	}

	// Heading Artikel
	.warp-heading{
		margin-bottom: 5px;
		width: 100%;
		content: "";
	  	clear: both;
	  	display: table;
	}

	.heading-title-kanal{
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 5px;
		border-bottom: 4px solid $trib-secondary;
		width: max-content;
		float: left;

		&:first-letter{
			color: $trib-secondary;
		}
	}

	.more{
		float: right;

		a{
			color: #767676;
		}

		a:hover{
			text-decoration: none;
			color: $trib-red;
		}
	}

	// Sub Artikel
	.box-sub-artikel{
		margin-top: 15px;
	}
	
	// Label Headline
	.label-kanal-headline{
		font-size: 12px !important;
		color: #fff;
		width: max-content;
		padding: 5px;
		margin-bottom: 5px;
	}

	.operational-headline{
		color: #cc0000;
	}

	.national-headline{
		color: #e68a00;
	}

	.technology-headline{
		color: #000066;
	}

	.others-headline{
		color: #14a590;
	}

	.humanist-headline{
		color: #ef2d51;
	}

	// Label
	.label-kanal{
		font-size: 12px !important;
		font-weight: bold;
	}

	.operational{
		color: #cc0000;
	}

	.national{
		color: #e68a00;
	}

	.technology{
		color: #000066;
	}

	.others{
		color: #14a590;
	}

	.humanist{
		color: #ef2d51;
	}

	// Breadcrumb
	.page-breadcrumb{
		font-size: 14px;
		border-bottom: 1px solid #eee;
		margin: 20px 0px;

		a{
			color: $trib-grey;
		}

		a:hover{
			text-decoration: none;
			color: $trib-red;
		}

		ul{
			list-style: none;
			margin-bottom: 10px !important;
			padding: 0px;
		}

		li{
			display: inline-block;
		}

		li:after{
			color: $trib-grey;
			content:" / ";
		}

		li:last-child::after{
			padding: 10px;
			content:" ";
		}
	}

	// List Artikel
	.warp-list-artikel{
		padding: 15px 0px 0px;
		border-bottom: 1px solid #eee;
	}

	.list-artikel{
		padding-bottom: 15px;
	}

	.img-artikel{
		float: left;
		border-radius: 10px;
		width: 35%;
		height: 130px;
		overflow: hidden;

		img{
			width: 100%;
			height: 130px;
			object-fit: cover;
		}
	}

	.warp-desc-artikel{
		float: right;
		width: 65%;
		padding-left: 10px;
	}

	.warp-head-artikel{
		margin-bottom: 10px;
	}

	.date-artikel{
		margin: 5px 0px 8px;
		font-size: 12px;
		color: $trib-grey;
	}

	.title-artikel{
		font-size: 16px;
		font-weight: bold;

		a{
			color: #000;
		}

		a:hover{
			text-decoration: none;
			color: $trib-red;
		}
	}

	// Laporan
	.warp-btn-laporan{
		margin: 0px 0px 15px;

		a{
			display: block;
			background-color: #db1010;
			padding: 15px 0px 15px;
			text-align: center;
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			border-radius: 5px;
		}

		a:hover{
			background-color: #bb0f0f;
			text-decoration: none;
			color: #fff;
		}
	}

	// TVR Polri
	.warp-tvr-polri{
		background-color: #000000;
		padding: 10px 10px;
		border-radius: 6px;
		margin-bottom: 15px;

		img{
			width: 100px;
			margin: auto;
			display: block;
		}
	}

	// Data Pelaporan
	.data-pelaporan, .data-kejadian, .data-verifikasi{
		margin: 200px 0px;
	}

	.form-laporan, .form-kejadian, .form-verifikasi{
		width: 100%;
		margin: 30px 0px;
	}

	.form-group{
		width: 100%;
		margin: 15px 0px;
	}

	.lap-required{
		font-size: 14px;
		color: red;	
	}

	.input-laporan{
		width: 100%;
	}

	.input-laporan-datetime{
		width: 100%;
	}

	.text-lap{
		width: 100%;
		color : #000;
		font-size: 16px;
		padding: 10px 20px;
		border: 2px solid #c7c7c7;
		border-radius: 5px;

		&:focus{
			border: 2px solid $trib-primary;
		}
	}

	.date-lap{
		width: 100% !important;
		color : #000 !important;
		font-size: 16px !important;
		padding: 21px 20px !important;
		border: 2px solid #c7c7c7 !important;
		border-radius: 5px !important;

		&:focus{
			border: 2px solid $trib-primary !important;
		}
	}

	.time-lap{
		width: 90% !important;
		color : #000 !important;
		font-size: 16px !important;
		padding: 21px 20px !important;
		border: 2px solid #c7c7c7 !important;
		border-radius: 5px !important;

		&:focus{
			border: 2px solid $trib-primary !important;
		}
	}

	.combo-lap{
		width: 100%;
	    padding: 10px 20px;
	    font-size: 16px;
	    font-family: 'tahoma';
	    border: 2px solid #c7c7c7;
	    border-radius: 5px;
	    background: url('../../assets/images/chevron-down-solid.svg') no-repeat right #fff;
	    background-size: 15px;
	    -webkit-appearance: none;
	    background-position-x: 97%;
	    color: #000;
	}

	.btn-lap{
		margin: 30px 10px 30px;
		font-size: 16px;
		border: 1px solid $trib-primary;
		background-color: $trib-primary;
		border-radius: 5px;
		padding: 5px 10px;
		color: #fff;
		text-align: center;
	}

	.lap-thanks{
		width: 100%;
		background-color: #128c19;
		color: #fff;
		padding: 30px 30px;
		text-align: center;
		font-size: 16px;
		border-radius: 5px;
	}

	// Terpopuler
	.populer{
		padding: 15px 0px;
	}

	.warp-list-populer{
		padding-bottom: 10px;
		margin: 15px 0px 0px;
		background-color: #fff;
		border-bottom: 1px dashed $trib-primary;
	}

	.no-populer{
		font-size: 18px;
		width: 10%;
		float: left
	}

	.title-populer{
		font-size: 16px;
		font-weight: bold;
		width: 90%;
		float: right;

		a{
			color: #000;
		}

		a:hover{
			text-decoration: none;
			color: $trib-secondary;
		}
	}

	// Foto
	.warp-foto{
		padding: 15px 0px;
	}

	.img-foto{
		position: relative;
		border-radius: 10px;
		width: 100% !important;
		height: 215px !important;
		object-fit: cover !important;
	}

	.desc-foto{
		position: absolute;
		z-index: 1;
		bottom: 0;
		padding: 10px;
		background-color: #000;
		opacity: 0.7;
		width: 100%;
		border-radius: 0px 0px 10px 10px;

		font-size: 14px;
		font-weight: bold;

		a{
			color: #fff !important;
		}

		a:hover{
			text-decoration: none;
			color: $trib-hover !important;
		}
	}

	// Video
	.warp-video{
		padding: 15px 0px;
	}

	.img-video{
		position: relative;
		border-radius: 10px;
		width: 100% !important;
		height: 215px !important;
		object-fit: cover !important;
	}

	.desc-video{
		position: absolute;
		z-index: 1;
		bottom: 0;
		padding: 10px;
		background-color: #000;
		opacity: 0.7;
		width: 100%;
		border-radius: 0px 0px 10px 10px;

		font-size: 14px;
		font-weight: bold;

		a{
			color: #fff !important;
		}

		a:hover{
			text-decoration: none;
			color: $trib-hover !important;
		}
	}

	// Social Feed
	.warp-social-feed{
		padding: 15px 0px;

		a{
			color: #000;
		}

		a:hover{
			text-decoration: none;
			color: $trib-primary;
		}
	}

	// Hot Topic
	.hot-topic{
		padding: 15px 0px;
	}

	.warp-list-hot-topic{
		padding-bottom: 10px;
		margin-bottom: 15px;
		background-color: #fff;
		border-bottom: 1px dashed $trib-primary;
	}

	.title-hot-topic{
		font-size: 16px;
		font-weight: bold;
		width: 100%;

		&:before{
			content: "# ";
		}

		a{
			color: #000;
		}

		a:hover{
			text-decoration: none;
			color: $trib-secondary;
		}
	}
	
	// Footer
	footer{
		padding: 20px 0px;
		background-color: $trib-primary;
	}

	.footer1{
		width: 33.33%;
	}

	.footer2{
		width: 33.33%;
	}

	.footer3{
		width: 33.33%;
	}

	.footer5{
		width: 100%;
	}

	.footer6{
		width: 100%
	}

	.title-footer{
		font-size: 12px;
		font-weight: bold;
		color: #fbf700;
	}

	.list-footer-kanal{
		font-size: 12px;
		font-weight: normal;
		width: 100%;

		a{
			color: #fff;
		}

		a:hover{
			text-decoration: none;
			color: $trib-red;
		}

		ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		li{
			font-weight: normal;
			padding: 5px 0px;
		}

		.frist-list-footer{
			font-size: 12px;
			font-weight: bold;

			a{
				color: #fbf700;
			}

			a:hover{
				color: #fbf700;
			}

		}
	}

	.list-footer-management{
		font-size: 12px;
		font-weight: normal;
		width: 100%;
		text-align: center;
		margin-top: 15px;

		a{
			color: #fff;
		}

		a:hover{
			color: #fff;
		}

		ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		li{
			display: inline-block;
			font-weight: normal;
			margin: 0px 5px;
		}

		.frist-list-footer{
			font-size: 12px;
			padding-left: 15px;
			font-weight: bold;

			a{
				color: #fbf700;
			}

			a:hover{
				color: $trib-red;
				text-decoration: none;
			}

		}
	}

	.sosmed-footer{
		padding: 15px 0px;
		font-size: 16px;
		color: #fff;
		text-align: center;

		ul{
			list-style: none;
			margin: 0px;
			padding: 0px;
		}

		li{
			display: inline-block;
		}

		img{
			padding-top: 10px;
			width: 30px;
		}

		a:hover{
			text-decoration: none;
		}
	}

	.copy{
		color: #fff;
		font-size: 12px;
		text-align: center;
	}

	// Read
	.head-read{
		padding-bottom: 15px;
	}

	.title-read{
		font-family: "Roboto Slab";
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.author-read{
		font-size: 14px;
		color: #b4b4b4;
		margin-bottom: 3px;
	}

	.date-read{
		font-size: 12px;
		color: #b4b4b4;
		margin-bottom: 10px;
	}

	.img-read{
		width: 100%;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	.desc-image-read{
		font-size: 12px;
		color: #b4b4b4;
		text-align: center;
		margin-bottom: 10px;
	}

	.desc-read{
		font-size: 16px
	}

	.share-read{
		margin-top: 15px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;

		ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		li{
			display: inline-block;
		}

		img{
			width: 40px;
		}

		a:hover{
			text-decoration: none;
		}
	}

	.reaction{
		margin-top: 15px;
	}

	// Berita Terkait
	.warp-berita-terkait{
		border-top: 1px solid $trib-grey;
		margin: 20px 0px;
		padding: 15px 0px;
	}

	.list-berita-tag{
		font-size: 14px;
		padding: 10px 0px;

		ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		li{
			display: inline-block;
			margin: 10px 0px;
		}

		a{
			color: #fff;
			padding: 10px 10px;
			border-radius: 50px;
			background: $trib-secondary;
		}

		a:hover{
			text-decoration: none;
			color: #fff;
			background: $trib-red;
		}
	}

	.list-berita-terkait{
		font-size: 16px;
		font-weight: bold;

		ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

		li{
			padding: 8px 0px;
			border-bottom: 1px dashed $trib-grey;
		}

		li:hover{
			border-bottom: 1px dashed $trib-red;
		}

		a{
			color: $trib-primary;
		}

		a:hover{
			text-decoration: none;
			color: $trib-red;
		}
	}

	// Komentar
	.warp-form-komentar{
		padding: 20px 0px;
	}

	.input-komentar{
		width: 100%;
		border: 1px solid $trib-grey;
		border-radius: 5px;
		font-size: 14px;
		padding: 5px;
	}

	.btn-komentar{
		margin-top: 10px;
		font-size: 14px;
		color: #fff;
		padding: 8px 20px;
		border-radius: 5px;
		background: $trib-red;
		cursor: pointer;
		border: 1px solid $trib-red;
		
		&:hover{
			color: $trib-red;
			background: #fff;
			border: 1px solid $trib-red;
		}
	}

	.warp-list-komentar{
		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}
	}

	.box-komentar{
		font-size: 14px;
		padding: 10px;
		margin: 10px 0px;
		background: #f7f7f7;
		border-radius: 5px;
		border: 1px solid #e1e1e1;
	}

	.komentar-reply{
		margin-left: 50px;
	}

	.avatar-komentar{
		width: 10%;

		img{
			border-radius: 50px;
			width: 30px;
			height: 30px;
		}
	}

	.box-detail-komentar{
		width: 90%;
		padding-left: 10px;
	}

	.nama-komentar{
		font-weight: bold;
		margin-bottom: 5px;
	}

	.isi-komentar{
		margin-bottom: 5px;
	}

	.footer-komentar{
		font-size: 12px;
		color: #aeaeae;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: inline-block;
		}

		.reply{
			margin-left: 30px;
		}

		li:after{
			content: " | ";
		}

		li:last-child:after{
			content: "";
		}

		a{
			color: #aeaeae;
		}

		a:hover{
			text-decoration: none;
			color: #aeaeae;
		}
	}

	// Sub Kanal
	.box-subkanal{
		margin-top: -15px;
	}


	// Foto
	.box-kanal-foto{
		margin-top: 15px;
	}

	.img-kanal-foto{
		position: relative;
		float: left;
		border-radius: 10px;
		width: 35%;
		height: 130px;
		overflow: hidden;

		img{
			width: 100%;
			height: 130px;
			object-fit: cover;
		}
	}

	.count-kanal-foto{
		position: absolute;
		z-index: 2;
		bottom: 0;
		right: 0;
		padding: 5px;
		font-size: 14px;
		background-color: #009900;
		color: #fff;
	}

	// Baca Foto
	.warp-foto-slide{
		margin: 20px 0px;
	}

	.carousel-inner, .item{
		border-radius: 10px !important;
	}

	.carousel-indicators{
		li{
			width: 8px !important;
			height: 8px !important;
			background-color: #D5D5D5 !important; 
		}

		li.active{
			width: 8px !important;
			height: 8px !important;
			background-color: $trib-red !important; 
		}
	}

	.left{
		border-radius: 10px 0px 0px 10px !important;
	}

	.right{
		border-radius: 0px 10px 10px 0px !important;
	}

	.img-foto-slide{
		width: 100% !important;
		height: 230px !important;
		object-fit: cover !important;
		border-radius: 10px !important;
	}

	// Foto Terkait
	.box-list-foto-terkait{
		margin: 0px -15px;
	}

	.warp-list-foto-terkait{
		width: 100%;
		padding: 15px 15px;

		a:hover{
			text-decoration: none;
		}

		a:hover img{
			transform: scale(1.5);
		}
	}

	.img-list-foto-terkait{
		float: left;
		width: 30%;
		height: 90px;
		overflow: hidden;
		border-radius: 10px;

		img{
			width: 100%;
			height: 90px;
			object-fit: cover;
			transition: transform .5s ease;
		}
	}

	.title-list-foto-terkait{
		float: right;
		color: #000;
		font-weight: bold;
		font-size: 16px;
		width: 70%;
		padding-left: 10px;
		
		&:hover{
			color: $trib-red;
			text-decoration: none;
		}
	}

	// Video
	.cover-kanal-video{
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		padding: 5px;
		font-size: 14px;
		background-color: #cc5200;
		color: #fff;
	}

	// Baca Video
	.warp-video{
		margin-bottom: 5px;
	}

	.video-youtube{
		width: 100%;
		height: 230px;
	}

	// Button More
	.btn-more{
		font-size: 16px;
		text-align: center;
		margin: 30px 0px 40px 0px;

		a{
			color: #fff;
			background-color: $trib-primary;
			border-radius: 100px;
			padding: 10px 40px;
			-webkit-box-shadow: 0px 7px 17px -10px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 7px 17px -10px rgba(0,0,0,0.75);
			box-shadow: 0px 7px 17px -10px rgba(0,0,0,0.75);
		}

		a:hover{
			background-color: $trib-red;
			color: #fff;
			text-decoration: none;
		}
	}

	// Filter Berita
	.box-filter{
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}

	.box-combo{
		width: 100%;
		margin-bottom: 10px;
	}

	select.combo-filter{
		font-size: 14px;
		width: 100%;
		border-radius: 5px;
		padding: 10px;
		border: 1px solid #eee;

		background:
		    linear-gradient(45deg, transparent 50%, #bebed0 50%),
		    linear-gradient(135deg, #bebed0 50%, transparent 50%);
	  	background-position:
		    calc(100% - 21px) calc(1em + 2px),
		    calc(100% - 16px) calc(1em + 2px),
		    100% 0;
	  	background-size:
		    5px 5px,
		    5px 5px,
		    2.5em 2.5em;
	  	background-repeat: no-repeat;

		-webkit-appearance: none;
	  	-moz-appearance: none;
	  	appearance: none;

		option{
			font-family: "Arial";
		}
	}

	.box-date{
		width: 100%;
		margin-bottom: 10px;
	}

	.date-filter{
		font-size: 14px;
		border: 1px solid #eee;
		width: 100%;
		padding: 10px !important;
		border-radius: 5px !important;
	}

	.box-button{
		width: 100%;
		margin-bottom: 10px;
	}

	.btn-filter{
		font-size: 14px;
		border: 1px solid $trib-red;
		padding: 10px 15px;
		border-radius: 50px;
		background: $trib-red;
		color: #fff;

		&:hover{
			background: #cf4343;
		}
	}

	// Pagination
	.paging{
		display: block;
		padding: 30px 0px 0px;
		text-align: center;

		ul{
			list-style: none;
			padding: 0px;
		}

		li{
			display: inline-block;
			padding-right: 5px;
		}

		a{
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			color: #fff;
			padding: 10px 15px;
			background-color: $trib-grey;
		}

		a:hover{
			background-color: #cf4343;
			text-decoration: none;
			color: #fff;
		}

		a.active{
			background-color: $trib-secondary;
		}

		a.active:hover{
			background-color: $trib-primary;
		}
	}

	// Pencarian
	.box-pencarian{
		margin: -10px 0px 0px;
		min-height: 400px;
	}

	.result-foto{
		margin: 0px -10px;
		min-height: 100px;
	}

	.count-pencarian{
		font-size: 16px;
		color: 000;
		padding: 24px 0px 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #eee;
	}

	.img-artikel-pencarian{
		float: left;
		border-radius: 10px;
		width: 15%;
		height: 130px;
		overflow: hidden;

		img{
			width: 100%;
			height: 130px;
			object-fit: cover;
		}
	}

	.warp-desc-artikel-pencarian{
		float: right;
		width: 85%;
		padding-left: 10px;
	}

	// Management
	.box-management{
		margin: 20px 0px;
	}

	.content-management{
		margin: 20px 0px;
	}

	// Live Streaming
	.live-streaming {
	  padding: 15px 0px;
	}

	.live-streaming-youtube {
	  width: 100%;
	  height: 200px;
	}

	// Virtual Police
	.virtual-police{
		padding-bottom: 15px;

		img{
			width: 100%;
		}
	}

	.v-police-form{
		margin: 5px 0px;
	}

	.groupform-police{
		margin: 8px 0px;
		display: flex;
		flex-wrap: wrap;
	}

	.text-police{
		width: 100%;
		font-weight: bold;
		padding: 9px 0px;
		font-size: 16px;
	}

	.form-police{
		font-family: 'Roboto','arial','tahoma';
		width: 100%;
		float: left;
		border: 1px solid #dedede;
		border-radius: 6px;
		padding: 6px 8px;
		font-size: 16px;
	}

	.btn-wa-police{
		margin: 50px 0px 100px;
		text-align: center;

		a{	
			padding: 15px 20px;
			color: #fff;
			background: #4fc35e;
			display: block;
			font-size: 16px;
		}

		a:hover{
			color: #fff;
			background: #4fc35e;
			text-decoration: none;
		}

		a:focus{
			color: #fff;
			background: #4fc35e;
		}
	}
}