@import "global";

footer{
	position: relative;
	margin-top: 20px;
	padding: 45px 0px 20px;
	background-color: $trib-secondary;
}

.footer1{
	width: 40%;
	padding-right: 20px;
}

.footer2{
	width: 30%;
	padding-right: 20px;
}

.footer3{
	width: 17.5%;
	padding-right: 20px;
}

.footer4{
	width: 30%;
	padding-right: 20px;
}

.logo-footer{
	width: 90%;
	border-radius: 3px;
}

.sosmed-footer{
	padding: 15px 0px;
	font-size: 16px;
	color: #fff;

	ul{
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		display: inline-block;
	}

	img{
		padding-top: 10px;
		width: 45px;
	}

	a:hover{
		text-decoration: none;
	}
}

.copy{
	padding-top: 20px;
	color: #fff;
	font-size: 14px;
}

.title-footer{
	font-size: 20px;
	font-weight: bold;
	color: #fbf700;
}

.list-footer-kanal{
	font-size: 16px;
	font-weight: normal;
	width: 50%;

	a{
		color: #fff;
	}

	a:hover{
		color: #fff;
	}

	ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		font-weight: normal;
		padding-left: 30px;
	}

	.frist-list-footer{
		font-size: 16px;
		padding-left: 15px;
		margin: 15px 0px;

		a{
			color: #fff;
		}

		a:hover, a:focus{
			color: #fff;
			padding-bottom: 5px;
			border-bottom: 1px dotted #fff;
			text-decoration: none;
		}

	}
}

.list-footer{
	font-size: 16px;
	font-weight: normal;
	width: 100%;

	a{
		color: #fff;
	}

	a:hover{
		color: #fff;
		padding-bottom: 5px;
		border-bottom: 1px dotted #fff;
		text-decoration: none;
	}

	ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		font-weight: normal;
		padding-left: 15px;
		margin: 15px 0px;
	}
}

.footer-2{
	position: absolute;
	z-index: 20;
	bottom: -25px;
	left: 0;
	width: 100%;
	height: 25px;
	background: $trib-primary;
}