@import 'global';
// Navigasi Detail
.nav-top-primary{
	font-size: 14px;
	font-weight: bold;
	background-color: $trib-primary;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
		padding: 10px 0px;
	}

	a{
		color: #fff;
		padding: 11px 15px;
	}

	a:hover{
		text-decoration: none;
		color: #fff;
		background-color: #b60202;
	}

	a.active{
		background-color: #b60202;
	}
}

.nav-operasional{
	background-color: #cc0000;
}

.nav-foto{
	background-color: #009900;
}

.nav-video{
	background-color: #cc5200;
}

.nav-binkam{
	background-color: #e68a00;
}

.nav-teknologi{
	background-color: #000066;
}

.nav-internasional{
	background-color: #14a590;
}

.nav-humanis{
	background-color: #ef2d51;
}

.search-box-secondary{
	position: absolute;
	padding: 7px 0px 7px 10px;
	right: 15px;
	top: 0px;
}

.search-icon-secondary{
	font-family: FontAwesome;
	position: absolute;
	z-index: 2;
	right: 0px;
	padding: 5px 11px;
	border: none;
	cursor: pointer;
	color: #838383;
	background-color: #fff;
	border-radius: 50px;
	height: 34px;

	&:hover{
		color: $trib-red;
		background-color: #eee;
	}
}

// Navtop Index
.nav-top{
	background-color: $trib-secondary;
	padding: 5px 0px;
}

.left-nav-top{
	margin-top: 3px;
	width: 50%;
	float: left;
}

.date-now{
	color: #fff;
	font-size: 14px;
	padding: 6px 0px;
}

.sosmed-header{
	margin-left: 40px;

	ul{
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		display: inline-block;
	}

	img{
		width: 30px;
		height: 30px;
	}

	a:hover{
		text-decoration: none;
	}
}

.right-nav-top{
	width: 50%;
	float: right;
	text-align: right;

	ul{
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		display: inline-block;
	}

	a{
		color: #fff;
	}

	a:hover{
		color: #fff;
		text-decoration: none;
	}
}

.box-nav{
	position: relative;
}

.box-search{
	background-color: $trib-primary;
	padding: 7px 0px 7px 10px;
	position: absolute;
	top: 0px;
	right: 15px;
}

.search-input{
	border: 1px solid #eee;
	border-radius: 50px;
	font-size: 16px;
	padding: 5px 37px 5px 10px;
	// margin-right: 5px;
	width: 80px;
	transition: width .20s ease-in-out;
	height: 34px;
	font-weight: revert;

	&:focus{
		width: 250px;
	}
}

.search-icon{
	font-family: FontAwesome;
	position: absolute;
	z-index: 5;
	right: 0px;
	padding: 5px 11px;
	border: none;
	cursor: pointer;
	color: #838383;
	background-color: #fff;
	border-radius: 50px;
	height: 34px;

	&:hover{
		color: $trib-primary;
		background-color: #eee;
	}
}

.button-nav{
	border-radius: 50px;
	font-size: 16px;
	padding: 7px 20px;
	background-color: #084585;
	color: #fff;
	margin: 0px 5px 0px 0px;
	text-align: center;
	
	&:hover{
		background-color: #fff;
		color: #084585;
		text-decoration: none;
	}
}

.button-daftar{
	border-radius: 50px;
	font-size: 16px;
	padding: 7px 20px;
	background-color: $trib-primary;
	color: #fff;
	margin: 0px 5px 0px 0px;
	text-align: center;
	border: 0px;
	transition: $link-trans;

	&:hover{
		background-color: #fff;
		color: $trib-primary;
		text-decoration: none;
	}
}

.logo-head{
	padding: 20px 0px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.logo{
	float: left;
	margin: 3px 0px 2px;

	img{
		width: 470px;
		height: 120px;
	}
}

.banner{
	float: right;

	img{
		width: 620px;
		height: auto;
	}
}

// Profil
	.profile{
		width: 50%;
		text-align: right;

		img{
			width: 30px;
			height: 30px;
			border-radius: 50px;
			object-fit: cover;
			margin-right: 5px;
		}

		a{
			color: #fff;
		}

		a:hover{
			text-decoration: none;
			color: #fff;
		}

		a:focus{
			text-decoration: none;
			color: #fff;
			outline: none;
		}
	}

	.buka{
		display: block;
	}
	
	.menu-profile{
		display: none;
	}

	.menu-profile{
		position: absolute;
		z-index: 5;
		right: 205px;
		width: 150px;
		background-color: #f0f0f0;
		text-align: left;
		top: 46px;
		border-radius: 5px;
		-webkit-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.75);
		box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.75);
		list-style-type: none;
		padding: 2px 0px;
		margin: 0px;

		a{
			display: block;
			padding: 4px 15px;
			color: #000;
		}

		a:hover{
			text-decoration: none;
			color: #000;
			background-color: #dedcdc;
		}

		a:focus{
			text-decoration: none;
			color: #000;
			background-color: #dedcdc;
		}
	}

// Nav
.nav-primary{
	background-color: $trib-primary;
}

nav{
	font-size: 16px;
	font-weight: bold;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
		padding: 13px 0px;
		margin: 0px;
	}

	a{
		color: #fff;
		padding: 14px 15px;
		letter-spacing: 0px;
	}

	a:hover{
		text-decoration: none;
		color: #fff;
		background-color: #b60202;
		padding: 14px 15px;
	}

	li:hover .nav-dropdown{
		display: block !important;
	}

	a.active{
		background-color: #8c1111;
		padding: 14px 15px;
	}

	
}

.nav-parent{
	position: relative;
}

.nav-dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 20;
	top: 50px;

	a{
		float: none;
		color: black;
		padding: 14px 15px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	a:hover{
		background-color: #b60202;
	}
}

.scroll {
	white-space: nowrap;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
	display: none; 
}

.scroll-menu {
	white-space: nowrap;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	max-width: 400px;
	
}

.scroll-menu::-webkit-scrollbar {
	display: none; 
}

// Sticky Nav
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	animation: fadein 0.5s;
	-moz-animation: fadein 0.5s; /* Firefox */
	-webkit-animation: fadein 0.5s; /* Safari and Chrome */
	-o-animation: fadein 0.5s; /* Opera */
	-webkit-box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
}

.nav-fixed {
	height: 60px;
}

.nav-- {
	height: 0px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

// Breaking News
@keyframes tickerv {
	0% {margin-top: 0;}
	25% {margin-top: -40px;}
	50% {margin-top: -80px;}
	75% {margin-top: -120px;}
	100% {margin-top: 0;}
}

.breaking-news{
	font-size: 17px;
	background-color: #fff;
	padding: 10px;
	width: 100%;

	-webkit-box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 11px -11px rgba(0,0,0,0.75);
}

.title-breaking-news{
	color: #000;
	font-weight: bold;
	float: left;
	width: 15%;

	p{
		margin: 0px;
	}
}

.text-breaking-news{
	float: right;
	text-align: left;
	margin: 0px;
	width: 84%;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	ul:hover{
		animation-play-state: paused;
	}

	li{
		display: inline-block;
	}

	li:after{
		content: "  -  ";
	}

	li:last-child::after{
		content: "";
	}

	a{
		color: $trib-primary;
		font-weight: bold;
	}

	a:hover{
		text-decoration: none;
		color: $trib-secondary;
	}
}

// Daftar
.form-daftar{
	width: 100%;
	padding: 0px 40px;
	margin-bottom: 30px;

	a:hover{
		text-decoration: none;
		color: $trib-red;
	}
}

.form-input-daftar{
	display: flex;
	width: 100%;

	i{
		margin: 10px 0px;
		background-color: #eee;
		font-size: 18px;
		padding: 12px;
		border-radius: 10px 0px 0px 10px;
		text-align: center;
		width: 50px;
	}
}

.input-daftar{
	font-size: 14px;
	width: 100%;
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
	border: 1px solid #eee;
	margin: 10px 0px;

}

select.input-daftar{
	font-size: 14px;
	width: 100%;
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
	border: 1px solid #eee;
	margin: 10px 0px;

	background:
	    linear-gradient(45deg, transparent 50%, #bebed0 50%),
	    linear-gradient(135deg, #bebed0 50%, transparent 50%);
  	background-position:
	    calc(100% - 21px) calc(1em + 2px),
	    calc(100% - 16px) calc(1em + 2px),
	    100% 0;
  	background-size:
	    5px 5px,
	    5px 5px,
	    2.5em 2.5em;
  	background-repeat: no-repeat;

	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;

	option{
		font-family: "Arial";
	}
}

.btn-daftar{
	width: 100%;
	font-size: 14px;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #eee;
	margin: 15px 0px;
	background-color: $trib-secondary;
	color: #fff;

	&:hover{
		background-color: $trib-primary;
		color: #fff;
	}
}

// Notifikasi
.notifikasi{
	transition: 0.5s;
	position: fixed;
	top: -500px;
	left: 35%;
	background-color: #f9f9f9;
	border-radius: 0px 0px 10px 10px;
	z-index: 99;
	padding: 20px 50px;

	img{
		display: block;
		margin: auto;
		width: 300px;
	}
}

.desc-notifikasi{
	margin: 10px 0px;
	font-size: 16px;
	color: #000;
	text-align: center;
}

.btn-notifikasi{
	text-align: center;
	padding-top: 10px	
}

.notifikasi-tidak{
	cursor: pointer;
	background-color: #dedede;
	font-size: 16px;
	font-weight: bold;
	color: $trib-primary;
	padding: 8px 15px;
	border-radius: 5px;
	
	&:hover{
		color: $trib-primary;
		text-decoration: none;
	}
}

.notifikasi-ya{
	background-color: $trib-primary;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 8px 15px;
	border-radius: 5px;
	
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}